name: Doc translation watchdog

on:
  pull_request:
    paths:
      - 'docs/en/**'
      - 'docs/zh/**'
      - 'docs/ja/**'
  issue_comment:
    types: [created]
  label:
    types:
      - created

permissions:
  pull-requests: write
  contents: read

jobs:
  # This should run only on:
  #  - PRs with the 'documentation' label and
  #  - a comment of `/translate` added by a member of `docs-maintainer` team
  verify-membership:
    if: (github.event_name == 'pull_request' ) && contains(github.event.pull_request.labels.*.name, 'documentation')
    runs-on: ubuntu-latest
    steps:
      - name: Get list of organization members
        run: |
          # Fetch the list of users in the organization
          DOC_MEMBERSHIP_PAT=${{ secrets.DOC_MEMBERSHIP_PAT || secrets.GITHUB_TOKEN }}
          DOCS_MAINTAINERS=$(curl -s -H "Authorization: token $DOC_MEMBERSHIP_PAT" \
          "https://api.github.com/orgs/starrocks/teams/docs-maintainer/members" | jq -r '.[].login')

          # Save the allowlisted users in a file
          echo "$DOCS_MAINTAINERS" > allowlisted_users.txt
          cat allowlisted_users.txt
      - name: Check if comment author is in allowlist
        if: github.event_name == 'issue_comment'
        run: |
            COMMENT_AUTHOR="${{ github.event.comment.user.login }}"
            echo "Comment author: $COMMENT_AUTHOR"

            if grep -q --line-regexp "$COMMENT_AUTHOR" allowlisted_users.txt; then
              echo "User $COMMENT_AUTHOR is in the allowlist."
              echo "is_allowlisted=true" >> $GITHUB_OUTPUT
            else
              echo "User $COMMENT_AUTHOR is NOT in the allowlist."
              echo "is_allowlisted=false" >> $GITHUB_OUTPUT
            fi

